{% extends "_layout.twig" %}

{% block content %}

<div class="bg-light py-10">
<div class="section section--default">
	<div class="container">
	<div class="mb-5">{% include '_snippet/_nav/_breadcrumb' %}</div>
		{% include '_snippet/_content/_pageTitle' %}
		{% include '_snippet/_content/_intro' %}
    </div>
</div>
</div>

{% include '_snippet/_content/_contentBuilder' %}


<div class="section section--default">
	<div class="bg-light py-10">
		<div class="container">
			<h2 class="text-primary">Unmet needs</h2>
			{% set diseases = craft.entries.section('unmetNeedsDisease').relatedTo(entry.diseases) %}
			{% for disease in diseases %}
			{% set category = disease.diseases.one() %}
				<a class="btn btn--primary btn--ext mr-5" href="{{ disease.url }}">{{ category.title }}</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}