<header class="page-header overflow-hidden">
	<div class="container">
		<div class="flex justify-end">

			<div class="full-service-nav bg-light pl-10 relative flex flex-wrap items-center justify-end inline-block hidden rounded-bl-3xl mb-12 py-4 border-fade-bottom-full md:flex">
				<div class="flex items-center js-search-hide">
					{% include '_snippet/_nav/_service' %}
					<button class="ml-4 cursor-pointer js-search-trigger js-search-animated">
						<span class="sr-only">{{ 'Zoeken'|t }}</span>
						<svg class="icon" aria-hidden="true">
							<use xlink:href="/icon/sprite.svg#search"></use>
						</svg>
					</button>
					</div>
				{% include "_snippet/_global/_search.twig" %}
			</div>
			</div>
			<div class="flex justify-between">
				<a href="{{ siteUrl }}" class="">
					{{ svg('@webroot/img/logo-spin.svg')|attr({ class: 'w-full max-w-logo' }) }}
				</a>
			<div class="md:flex md:justify-end sm:hidden md:block">
				{% include '_snippet/_nav/_main' %}
			</div>
			<a href="#flyout" class="text-3xl js-flyout-toggle md:hidden" role="button">
				<span class="sr-only">Menu</span>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="/icon/sprite.svg#menu"></use>
				</svg>
			</a>
		</div>
	</div>
</header>
