{% set mainNav = craft.navigate.raw('mainNav') %}
{% set searchResultsEntry = craft.entries.section('searchResults').one() %}

{% if mainNav|length %}
	<nav class="" aria-label="{{ 'Main'|t }}">
		<ul class="md:flex md:flex-row md:flex-wrap md:space-x-10 lg:space-x-20 sm:flex sm:space-x-0 sm:flex-col">
			{% for node in mainNav %}
				<li class="{% if node.classes|length %}{{ node.classes }}{% endif %}">
					<a href="{{ node.url }}" class="text-xl text-primary hover:text-secondary {% if node.active %}text-secondary{% endif %}" {% if node.blank %} target="_blank" rel="noopener" {% endif %}>{{ node.name }}
					</a>
				</li>
			{% endfor %}
			{# {% if searchResultsEntry %} #}
		{#                <li>#}
			{#                    {% include '_snippet/_global/_search' %}#}
			{#                </li>#}
			{# {% endif %} #}
		</ul>
	</nav>
{% endif %}
