{% extends "_layout.twig" %}

{% block content %}

<div class="bg-light py-10">
<div class="section section--default">
	<div class="container">
    <div class="mb-5">{% include '_snippet/_nav/_breadcrumb' %}</div>
        <h1 class="text-primary w-3/5">Het formulier is succesvol verzonden!</h1>
    </div>
</div>
</div>

<div class="section section--default">
	<div class="container">
        <a class="underline" href="index">Terug naar formulier →</a>
    </div>
</div>

{% endblock %}