/* purgecss start ignore */
.full-service-nav {
    position: relative;
    &:before {
        content: '';
        left: 100%;
        @apply absolute top-0 bottom-0 block w-screen h-full bg-light;
    }
}

.border-height {
    height: 1.5px;
}

.center-title {
    position: relative;
        left: 50%;
        @apply block w-full h-full ml-5;
}

.tooltip:hover {
    position: relative;
    &:after {
        content: attr(data-tooltip);
        left: 2.5em;
        @apply absolute w-64 px-5 py-2 text-xs text-black bg-white;
    }
}
/* purgecss end ignore */
